/* ====== БАЗА ====== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background: linear-gradient(135deg,#02162d,#0a1f3f,#0c1a2b);
  color:#fff;
  overflow-x:hidden;
}

/* ====== СЕКЦИИ ====== */
section{
  padding:100px 20px;
  position:relative;
  text-align:center;
}

/* ====== ЗАГОЛОВКИ ====== */
h2{
  font-size:28px;
  margin-bottom:40px;
}

/* ====== СЕТКИ ====== */
.gov-grid,
.jobs-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
  max-width:1100px;
  margin:auto;
  position:relative;
  z-index:2;
}

/* ====== КАРТОЧКИ ====== */
.gov-card,
.job-card{
  background:rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius:16px;
  padding:25px;
  transition:0.3s;
  border:1px solid rgba(255,255,255,0.08);
}

.gov-card:hover,
.job-card:hover{
  transform:translateY(-6px);
  border:1px solid rgba(255,255,255,0.2);
}

.gov-card h3,
.job-card h3{
  margin-bottom:10px;
  font-size:18px;
}

.gov-card p,
.job-card p{
  font-size:14px;
  opacity:0.8;
}

/* ====== ФОН ДЕРЖ ОРГ ====== */
.gov-section::before{
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:1300px;
  height:650px;
  transform:translate(-50%,-50%) rotate(-8deg) scale(1.2);
  background:url("gov-bg.jpg.png") center/cover no-repeat;
  opacity:0.15;
  z-index:1;
  filter:blur(1px);
  border-radius:30px;
}

/* ====== ФОН РОБОТИ ====== */
.jobs-section::before{
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:1300px;
  height:700px;
  transform:translate(-50%,-50%) rotate(-8deg) scale(1.2);
  background:url("jobs-bg.jpg.png") center/cover no-repeat;
  opacity:0.15;
  z-index:1;
  filter:blur(1px);
  border-radius:30px;
}

/* ====== СТАТИСТИКА ====== */
.stats-grid{
  display:flex;
  gap:25px;
  justify-content:center;
  flex-wrap:wrap;
}

.stat-card{
  background:rgba(255,255,255,0.05);
  padding:30px;
  border-radius:16px;
  min-width:150px;
  border:1px solid rgba(255,255,255,0.1);
}
